// GLOBAL VARIABLESSS

@import url('https://fonts.googleapis.com/css?family=Yantramanav')
@import url('https://fonts.googleapis.com/css?family=Yellowtail')
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono')
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Cormorant+Garamond:300,500|Fredericka+the+Great')
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700')

$font-size-h1: 1.3em
$font-size-base: 18px
$font-size-Mh1: 0.9em
$font-size-Mh2: 0.8em
$font-size-Mparagraphs: 0.85em
$font-stack-serif: Georgia, Times, serif
$font-stack-sans-serif: Helvetica, Arial, sans-serif
$font-stack-old-style: 'Yantramanav', sans-serif
$font-stack-paragraph: 'Cutive Mono', monospace
$font-stack: 'Cormorant Garamond', serif
$font-stack-character: 'Cabin Sketch', cursive
$font-stack-fred: 'Fredericka the Great', cursive
$font-stack-thin: 'Amatic SC', cursive



$base-color: yellow
$brand-color: pink
$bg-color: green
$deep-blue: rgba(26, 109, 142, 1)
$lethal-burn: red
$cloud: white
$treebark: rgba(149, 86, 35, 1)
$night: black
