// GLOBAL VARIABLESSS

@import url('https://fonts.googleapis.com/css?family=Yantramanav')
@import url('https://fonts.googleapis.com/css?family=Yellowtail')



$font-size-base: 18px
$font-size-mobile: 0.5em
$font-stack-serif: Georgia, Times, serif
$font-stack-sans-serif: Helvetica, Arial, sans-serif
$font-stack-old-style: 'Yantramanav', sans-serif

$base-color: yellow
$brand-color: pink
$bg-color: green
$deep-blue: blue
$lethal-burn: red
$cloud: white
$treebark: brown
$night: black
