
@media screen and (min-width: 320px) and (max-width: 767px)
  body
    z-index: -99999
    overflow-y: scroll
    main
      width: auto
      height: auto
      position: relative


      #main-section
        justify-content: space-between
        position: relative

        #nelann
          padding: 6.5%
          height: auto
          color: $night
          font-family: $font-stack-paragraph
          font-size: $font-size-Mparagraphs
          border: 2px solid pink
