
// Styling for body elements
@include phone
  body
    height: 100%
    width: 100%
    margin: 0 auto
    main          
      height: auto
      display: flex
      max-width: 100%
      position: relative
      flex-direction: column
      justify-content: flex-start
      background-color: #090000
      @include desktop
        display: flex
        justify-content: center

      section
        display: flex
        height: 100%
        width: 100%
        margin-bottom: -5px
        overflow: hidden  
        position: relative
        flex-direction: column
        justify-content: flex-start
        @include tablet
        @include desktop
          border: none
          display: flex
          background-color: #673a6d
     
          
  #about     
    width: 100vw  
    height: auto
    @include desktop

  #wagai
    width: 100vw
    height: 100%
    margin: auto
    display: flex
    visibility: visible
    align-items: center
    flex-direction: column
    padding: 0
    justify-content: space-around
    @include tablet
    justify-content: flex-start
    @include desktop
      width: 100%
      height: 100%
      margin-bottom: 33px   
      justify-content: space-around
      align-items: flex-start

  .main-paragraph
    margin: auto  
    color: #3c3937
    font-weight: 500
    letter-spacing: 0
    padding-top: 20px
    font-size: 1.045em
    line-height: 1.67em
    margin-bottom: 20px
    text-align: justify
    font-family: $font-stack-open-sans
    @include phone-landscape
    @include tablet
      font-size: 1em
      margin-bottom: 40px
      letter-spacing: normal
    @include desktop
      margin: 0
      width: 85%
      font-size: 1em
      line-height: 1.7em
      padding-top: 20px
      text-align: justify

  .columnsSplit
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 5px
    background-color: #fdfdf4
    @include phone-landscape
      width: 74%
    @include tablet
      width: 100%
      flex-wrap: wrap
      justify-content: center    
    @include desktop  
      display: flex
      flex-wrap: wrap
      width: 38%
      margin: 10px 20px
      border: none   
      broder-radius: 5px
      background-image: none
      box-shadow: -6px 10px 7px 10px #670973

  .animation-caption, .gallery-link
    display: flex
    width: auto
    margin: 0
    color: #ffffff
    text-align: center
    font-weight: bold
    font-size: 1em
    justify-content: flex-start
    letter-spacing: 0.05em
    text-transform: uppercase
    font-family: $font-stack-Raleway-bold
    @include desktop
      display: flex
      justify-content: flex-start
      font-size: 1.05em 
      width: 60%
      padding: 0
      color: white
      
  .spec
    font-family: $font-stack-Raleway  
    font-size: 0.88em
    width: 100%   
    color: white  
    padding: 8px 0 0 0
    margin-top: 12px   
    line-height: 1.3em 
    @include desktop 
      padding: 10px  
      width: 80%           

  .gallery-link
    height: auto
    padding: 0
    margin: 0
    font-size: 1.35em
    width: 100%
    margin-top: 20px
    line-height: 1.35em
    @include tablet
      font-size: 1.81em
      margin-top: 20px
      margin-bottom: 14px
    @include desktop
      color: white
      font-size: 1.77em
      margin-top: 37px
      margin-bottom: -14px
      width: 100%

  .bio-intro
    display: flex
    flex-direction: column
    align-items: center 

  // Paragraph slot
  .opening_statement, .mini_statement, .block
    text-align: justify
    display: flex
    flex-wrap: wrap
    justify-content: flex-start   
    width: 91%
    margin-bottom: 20px
    line-height: 1.44em   
    color: white
    font-weight: normal
    font-family: Rokkitt, serif 
    padding: 0px
    @include phone-landscape
    @include tablet
      width: 94%
      margin: 0 auto
      display: flex
      margin-bottom: 0  
      background: none    
      margin-bottom: 20px
    @include desktop
      justify-content: center
      width: 100%  
      margin: -40px 0 20px 0
      align-self: center
      padding: 14px 0px
                                                                            
    p
      font-size: 15.5pt
      line-height: 19pt
      color: #adcdd8
      padding: 0 0 16px 0px
      margin-bottom: -8px
      font-weight: normal   
      max-height: 85%
      font-family: $font-stack-ntr
      @include phone-landscape
        font-size: 14pt
      @include tablet 
        font-size: 14pt
        line-height: 18pt    
      @include desktop   
        padding: 0px
        margin-top: 50px
        display: flex  
        align-self: flex-start                     
        letter-spacing: 0em
        line-height: 20pt  
        width: 50%        
        color: #455A64
        background: none   
                 
    span, .par-title       
      font-size: 1.42em                        
      font-weight: bold
      font-family: $font-stack-Raleway   
      color: #000000
      line-height: 2.1em
      text-align: center
      width: 100%
      font-weight: bold
      text-transform: uppercase
      @include phone-landscape   
      @include tablet
        font-size: 1.66em                  
        margin: auto                         
      @include desktop
        display: flex   
        padding: 0px 0 14px 0                                                  
        margin: 0
        font-weight: bolder
        align-self: flex-start
        width: auto
        letter-spacing: 0.15px  
        font-size: 1.6em 
        display: flex 
  

  .opening_tatement
    @include desktop 
      display: none  
            
  #about_text      
    font-size: 12pt
    line-height: 17pt
    color: $black1
    padding: 0 15px                                         
    margin-bottom: -8px
    font-weight: normal
    font-family: $font-stack-Raleway
    @include tablet 
      font-size: 1.23em
    @include desktop
      padding: 0px 16px
      margin: 0 auto  
      letter-spacing: 0em
      font-size: 1.2em
      line-height: 1.6em
      background: none  
      font-style: normal
      width: 100%
      margin-top: 12px

  .block
    width: 100vw
    @include desktop
      padding: 5px
      width: 92%
      margin: 0
    p 
      @include desktop
        font-family: Rokkitt, serif 

  .hide-desktop
    display: none
  // Paragrap slot for the desktop view
  .opening_statement_desktop
    display: flex
    color: $black1
    justify-content: center
    text-align: center
    width: 100vw
    line-height: 1.5pt
    padding: 0px 6px
    margin-bottom: 60px                                     
    font-family: $font-stack-ntr
    @include tablet                                         
      padding: 0
      font-size: 1.3em
      margin-left: 40px
      width: 89%  
      margin-right: 40px
      margin-bottom: 40px
      background: none
    @include desktop
      width: 60%
      text-align: justify
      padding-top: 0px
      margin-bottom: 80px
      font-size: 1em
      letter-spacing: 0em
      line-height: 1.4em            
      background: none
      font-weight: normal
    p 
      padding: 0 17px
      font-size: 10pt
      color: white   
      line-height: 15pt      
      margin: 0
      font-family: $font-stack-ntr
      @include tablet 
        font-size: 14pt
        line-height: 19pt
        text-align: justify
      @include desktop 
        width: 54%
        font-size: 14pt 
        line-height: 18pt 
        padding-top: 20px

  .mini_statement             
      @include desktop
        background: none
        font-size: 1em                  

  .screen
    display: flex                            
    justify-content: center 
    width: 100vw
    height: 52px
    border-radius: 4px
    height: auto
    background-color: black
    @include desktop
      margin: 0
      height: auto 
      width: 100vw
      border: 0px
      border-radius: 3px
      border: none
      background: rgba(63, 87, 95, 0.72);
      background-image: url(../dist/imgs/ohk_pattern.png)
      background-size: contain
      background-repeat: repeat
      background-position: center
      background: repeating-linear-gradient(45deg, #673a6d, transparent 100px)

      
    li
      list-style: none

  // Horiontal bar with title on page
  #push-up
    display: flex
    color: white  
    width: 100%
    font-size: 1.6em           
    font-weight: 600   
    list-style: none 
    text-transform: uppercase
    letter-spacing: 0.02em
    font-family: $font-stack-Raleway-bold
    margin-left: 0   
    text-align: center                                              
    justify-content: center
    z-index: 99999
    @include tablet
      font-size: 30pt
      margin-bottom: 4px     
    @include desktop
      background: none
      padding: 5px 0 5px 0
      display: flex
      justify-content: flex-start
      font-size: 1em
      background-color: rgba(103, 58, 109, 0.27)
      background-color: #673a6d
      width: 44%
      display: flex
      justify-content: center
      box-shadow: 1px 6px 1px 8px #670973

  
    .bar            
      width: auto  
      margin-top: 20px
      @include tablet
        padding: 10px                                          
        margin-bottom: 1px            
      @include desktop  
        margin: 15px
        display: flex

      span
        @include desktop
          width: auto 
          height: auto                          
          line-height: 0.5em    
          letter-spacing: 0           
          font-size: 1.14em    
          text-transform: none
          font-weight: bold                                                    
          color: #e8f0f7
          text-transform: uppercase
          padding: 3px 15px 6px 18px
          @include desktop 
          color: white
          font-size: 30px
          font-weight: 600
          text-transform: capitalize
          letter-spacing: 0px
      .fa-anchor 
        @include desktop 
          font-size: 1.5em

    #bottom-line
      width: 88%        
      color: red   
      border: 1px solid   
      margin-top: 12px
      @include desktop
        color: #fa3031
        color: white
        display: none
      
  #pro-title                                     
    @include tablet
      padding: 13px
    @include desktop      
      display: flex
      width: 100% 
      background-color: white
                                                                           
  .pro-title
    color: #ffffff
    font-size: 1.2em
    padding: 11px
    font-weight: normal 
    letter-spacing: 0.03em
    @include desktop
      color: #090a0c
      font-weight: bold  
      font-size: 1em                                                                      
  #title_name                              
    color: $blue1
    font-family:  $font-stack-character
    font-size: 1.75em  
    padding: 24px
    text-align: center 
    font-weight: bold
    @include tablet
      font-size: 1.46em                    
    @include desktop
      display: flex
      text-align: left
      width: 100%
      letter-spacing: 0.02em
      font-size: 1.75em
      margin: 0
      padding: 0
      padding-top: 45px

  .skills-title
    display: flex
    justify-content: flex-start
    width: 100%
    margin: 0
    letter-spacing: 0.05em
    color: #564d48
    text-align: center
    font-weight: bold
    font-size: 1.18em
    text-transform: normal
    height: 41px
    line-height: 45.2px
    padding-left: 7%
    font-family: $font-stack-rajdhani
    background-color: rgba(240, 224, 176, 0.56)
    @include phone-landscape
    @include tablet
      font-size: 1.66em
      width: 93%
    @include desktop
      color: #2e7a96
      font-size: 1.1em
      padding: 0
      line-height: 44.2px
      padding-left: 1%
      width: 94%
      border-bottom: 1px solid #f0e4cb
      background: none

  .ompa
    @include tablet
      justify-content: flex-start
      color: #4f4c49

  #grafix, .projects, .wagai-weh, #wagai, #projects, #portfolio, #gd-projects, #dm-projects, #film-projects, #t-projects, #about, #talent-projects
    display: flex    
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    border-bottom: 0     
    @include desktop
      height: 100%   
      display: flex  
      margin: 0
      align-self: flex-start
      background-image: url('../dist/imgs/1920.png')
      background-size: contain
      background-position: center
      background-repeat: repeat-y
    a
      display: flex  
      justify-content: flex-start
      text-decoration: none
      border: 0
      @include desktop
        width: 100%
        margin: 0 
             
  #gd-projects
    display: flex 
    flex-direction: column
    align-items: center 
    @include tablet 
      justify-content: flex-start
    @include desktop
                  
  #film-projects, #contact
    @include desktop
      display: flex
      with: 100%
      align-self: center
      border-top: 1px solid gray
      a
        @include desktop
          display: flex
          justify-content: center

  #main-gallery
    @include desktop 
      border-top: 1px solid gray
   
  .wagai-weh
    @include tablet 
      height: 100vh
      @include desktop 
        height: 100vh

  #external_link  
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    text-decoration: none
    margin: 0
    background-color: #04C2C9
    border-radius: 4px
    @include desktop  
      &:hover
        background-color: #e29aba
 
  #content-holder
    width: 100vw
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    @include desktop
      flex-wrap: wrap
      margin: 0
      justify-content: space-around
      width: 100%

    h1
      padding: 0 20px 0 20px
      font-size: 1.1em
      margin-top: 40px
      color: #73726b
      padding-bottom: 5px
      @include phone-landscape

      @include tablet
        font-size: 1.3em
  #bio
    display: flex
    margin-top: 9px
    @include tablet 
      width: 78%
      margin-top: 10%
    @include desktop   
      display: flex 
      padding-bottom: 60px
   
  .grafix 
    text-decoration: none   
    align-items: center
  #grafix
    overflow-y: scroll
    text-decoration: none

  .contact-section
    display: flex
    justify-content: space-between
    text-decoration: none
    width: 100%
    height: 100vh
    @include tablet
      height: 100%
      padding-bottom: 10px
    @include desktop
      background-color: #060410
      margin: 0 auto
      height: 100%   
      margin-bottom: 30px
     
    #contact  
      display: flex
      flex-direction: column
      height: 100%
      width: 100%
      p
        width: 100%
        font-family: $font-stack-Dancing-script
        font-size: 1.5em
        text-align: justify
        color: #bedfef
        text-align: center
        font-weight: lighter
        line-height: 29px
        margin-top: 60px
        @include phone-landscape
        @include tablet
          width: 100%  
          font-size: 2.1em
          line-height: 37px 
        @include desktop
          width: 100%
          font-size: 1.65em        
          letter-spacing: 0.02em
          margin-bottom: 0  

  .sm-container
    display: flex 
    align-items: flex-end   
    justify-content: space-between
    width: 80%
    @include tablet
      width: 100vw
    @include desktop
      align-items: center
      width: 100%

  #myCanvas-mobile
    display: flex
    width: auto
    justify-content: center
    padding-left: 84px
    @include tablet
      height: 242px
      margin-right: -94px
      padding: 0
    @include desktop
      padding-left: 87px

  #myCanvas-menu
    display: flex                                                          
    width: auto
    justify-content: center
    padding-left: 109px
    @include desktop
      padding-left: 85px
      height: 131px

    #pen-off
      margin-top: 20px
      font-size: 0.95em
      font-weight: bold
      font-family: $font-stack-roboto
      color: #968f3a
      padding-bottom: 10px
      letter-spacing: 0.02em
      border-bottom: 1px solid #968f3a

  #address
    display: flex   
    width: 100%
    padding-left: 0px
    padding-top: 30px
    margin: 0 auto
    list-style: none
    flex-flow: row
    line-height: 50px
    margin-bottom: -65px
    z-index: 9999
    justify-content: space-around
    @include phone-landscape
      padding-top: 0

    @include tablet
      flex-flow: row
    @include desktop
      width: 48%

    button
      background-color: snow
      border-radius: 4px
      border: none
      
      @include phone-landscape
   
      a         
        backround: none     
        z-index: 999999
        color: tan
        @include desktop
          background: none
          cursor: pointer        
          z-index: 999999
                 
  button.accordion
    height: 37px
    font-family: Rokkitt, serif
    color: #696b64
    font-size: 1.12em
    font-weight: bolder
    text-transform: uppercase
    width: 43%
    text-align: center
    outline: none
    transition: 0.5s ease
    letter-spacing: 0.28em
    font-family: Rokkitt, serif
    margin: 30px 0px 0px 0px
    margin-bottom: 24px
    border: 0
    @include phone-landscape
      width: auto
      margin-top: 13px
    @include tablet             
      width: auto   
      height: 36px
      color: #358876
      font-size: 1.21em
      font-family: $font-stack-rajdhani
      background-color: #f6efe0
      letter-spacing: 0.13em
      margin-top: 22px
      border: none
    @include desktop
      cursor: pointer
      align-self: center  
      margin: 10px 0px 
      display: flex
      width: 70%
      height: 28px
      margin: 0
      padding: 0 8px
      font-family: '$font-stack-open-sans'
      background-color: rgba(239, 232, 217, 0)
      color: #90928c 
      font-size: 0.78em
      letter-spacing: 0.2em
   

  button.accordion.active, button.accordion:hover
    width: 43%
    transition: 0.5s ease
    text-align: center
    font-size: 1.05em
    font-weight: bolder
    border-bottom: 2px solid greenyellow
    color: #000000 !important 
    height: 35px
    border-bottom: none
    @include phone-landscape
    @include tablet
      border: 1px solid rgba(155, 149, 130, 0.33)
      height: 36px
      margin: auto
      color: #5594ab 
      background-color: rgb(248, 247, 246)
    @include desktop
      align-self: center
      margin: 10px 0px 
      display: flex
      width: 70%
      height: 28px 
      margin: 0
      padding: 0 8px
      font-family: '$font-stack-open-sans'
      background-color: rgba(31, 33, 30, 0)   
      color: #42443f !important
      font-size: 0.78em
      letter-spacing: 0.2em

  div.panel
      padding: 0 8px
      display: none
      height: auto
      width: 45%
      border-top: 0
      margin-bottom: 4px
      border-radius: 4px
      background-color: rgb(59, 58, 73)
      @include phone-landscape
        background-color: rgba(222, 231, 128, 0.68)
        width: 81%
      @include tablet
        position: fixed
        width: auto
        top: 4.7%
        left: 18%
        background-color: #fffef2
        border: none
      @include desktop
        width: 89%
        top: 50px
        left: 284px
        border: 0px solid #b4c883
        background: none

  .skills-caption, .gd-caption
    display: none
    margin: auto
    margin-top: 10px   
    font-weight: normal
    font-size: 1.24em
    line-height: 1.5em
    font-family: Rokkitt, serif 
    color: $black1
    text-align: center
    padding: 16px 16px 30px 16px
    margin-top: -33px
    margin-bottom: 33px
    text-align: justify
    font-size: 12pt
    line-height: 18pt
    color: $black1
    font-weight: normal
    max-height: 85%
    font-family: $font-stack-Raleway
    @include phone-landscape
    @include tablet
      font-size: 1.3em  
      letter-spacing: normal
      margin: 0
      width: 96%
      background: none   
    @include desktop
      margin: 0
      text-align: justify
      width: 84%
      display: flex
      align-self: flex-start
      background: none
      padding: 0
      font-size: 1.25em 
      letter-spacing: 0em     
      line-height: 1.5em    
      margin-left: -30px 
      margin-left: 0  
      background: none
      font-family: Rokkitt, serif 

  .scpmt-gd, .scpmt-t2
    font-size: 15.5pt        
    line-height: 19pt
    color: #adcdd8
    display: none
    margin-top: -30px   
    font-family: $font-stack-ntr
    @include phone-landscape
      font-size: 14pt
      width: 90%
    @include tablet   
      display: flex      
      margin: 0 auto   
      padding: 0                                       
      width: 93%
      font-size: 14pt  
      line-height: 20pt
      padding: 12px
    @include desktop   
      display: flex
      width: 50%
      margin-top: 0px
      padding: 0        
      color: #455A64                                                     
      line-height: 20pt     
      align-self: center  
   
  #gd-folders                                
    display: flex   
    justify-content: center   
    flex-wrap: wrap
    width: 100%
    height: 100%
    margin-top: 0
    padding: 0
    @include phone-landscape

    @include tablet
      width: 200px
      background-color: #f9f7e3
    @include desktop
      margin-left: 3px
      background-color: rgb(51, 48, 46)
      width: 98%
      border-radius: 5px
      background: none
    li
      list-style: none
      display: flex
      justify-content: center
      align-items: space-around
      align-items: center
      width: 85%
      transition: 0.5s ease
      border-bottom: 0.5px solid #6f868e
      @include tablet
        margin-top: 12px
        padding: 7px 0px
        border-radius: none
        background-color: #5594ab
      @include desktop
        margin: 6px 0
        border-bottom: 1px solid #e3e6e8
        background-color: #fbf1d6
        border-radius: 5px
        width: 64%
        background: none                                                
        border: none
        &:hover                        
          background-color: #fbf1d6
          border: none
 
    #nav-folders:nth-child(4)
      margin-bottom: 50px
   
      h4
        font-family: $font-stack-rajdhani
        color: black
        font-weight: bolder
        font-size: 1em
        line-height: 16.5px
        align-self: flex-end
        letter-spacing: 0.04em
        margin: 0
        padding-left: 5px

        a                                                                            
          width: 0%

  // Gallery and black box styling
  #main-gallery
    width: 100%
    flex-direction: column
    justify-content: flex-start
    align-items: center
    background-color: #fdfdf4
    @include phone-landscape
    @include tablet
      height: auto
      padding-bottom: 54px
    @include desktop
      background: none
      height: auto
      display: flex
      
    a
      align-items: center
      @include desktop
        display: flex
  

  #address button a 
    background: none
    @include desktop
      padding: 0
          
  .fs-gal-view
    display: none
    height: 100%
    width: 100vw
    margin: 0
    padding: 0
    position: fixed
    left: 0
    top: 0
    text-align: center
    background-size: contain
    background-position: center center
    background-color: #181524
    background-repeat: no-repeat
    overflow: hidden
    z-index: 999999
    @include desktop
      width: 100%

  .fs-gal-view h1
    display: flex
    justify-content: center
    flex-direction: column
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    min-width: 100%
    max-width: 100%
    margin: 0
    padding: 0
    height: 6%
    font-family: $font-stack-roboto
    letter-spacing: 0.07em
    line-height: 50px
    overflow: hidden
    background: rgba(0, 0, 0, 0.9)
    border-top: 1px solid #6b6958
    font-size: .66em
    font-weight: lighter
    letter-spacing: 0.07em
    color: #b3c7d3
    font-size: 0.66em
    font-family: sans-serif
    text-align: center

  .fs-gal-prev, .fs-gal-next, .fs-gal-close
    position: absolute
    top: calc(74vh - 20px)
    height: 40px
    width: 40px

  .fs-gal-prev
    left: 0

  .fs-gal-next
    right: 0

  .fs-gal-close
    top: 6px
    right: 19px
    height: 24px
    width: 30px
    background-color: #fbfdff
    border-radius: 6px 6px 2px 2px
    padding: 1px 6px 1px 6px
    border: 0.5px solid white
    top: calc(13vh - 20.8px)
    z-index: 1

  .fs-gal:hover, .fs-gal-nav:hover, .fs-gal-close:hover
    cursor: pointer

  .fs-gal
    width: 98%
    height: auto
    float: left
    padding: 7px
    border: 1px solid #cec8c3
    @include tablet
      width: 50%
    @include desktop
      margin: auto
      width: 49%                    

  .static-image
    width: 26%
    @include desktop
      width: 14%              

  .img-split, .selfie
    height: 20%
    width: 97%
    margin-top: 0px     
    margin-bottom: 6px
    margin-top: 0px
    @include phone-landscape
    @include tablet
      width: 96%
      margin-top: 49px
    @include desktop
      margin-top: 21px
      border: none
    
  .selfie
    height: 9%
    width: 52% !important
    border-radius: 4.8px !important
    @include tablet
      width: 22% !important
    @include desktop
      width: 26% !important

  .selfie2
    margin-top: 41px    
    margin-bottom: 20px
    width: 85%
    border-radius: 4.8px
    border: 6px solid rgb(247, 238, 211)
    @include tablet
      width: 65%
      margin-top: 10px
    @include desktop
      margin: 25px
      width: 35%      
      display: flex     
      align-self: center
      border: none  

  .rgdp
    display: flex    
    justify-content: center
    color: #faf6e6                   
    color: #3e290c
    font-weight: bold
    font-size: 1.4em
    line-height: 42px
    @include phone-landscape
    @include tablet
      justify-content: flex-start
      font-size: 1.71em
      line-height: 2em
      padding-left: 8px
    @include desktop
      font-size: 1.7rem
      font-style: oblique

  .show_inlarge
    display: none !important
    @include desktop
    display: flex
    font-family: $font-stack-antic
    text-align: justify
    color: #26061e
    text-transform: uppercase
    font-weight: bold
    color: #060407

  .big-gallery
    height: 100%
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    overflow-y: scroll
    padding-bottom: 33px
    justify-content: space-around
    @include phone-landscape
    @include tablet
      margin: auto
      padding-top: 33px
    @include desktop
      align-self: center
      height: 100%
      width: 90%
      margin-left: 38px
      flex-flow: column
      margin: 0
      overflow: hidden
      flex-flow: row
      flex-wrap: wrap
                           
  .container, .talentpage
    width: 100%   
    display: flex
    flex-wrap: wrap   
    align-items: center
    overflow-y: scroll
    padding-top: 16px
    border: 1px solid #e6dee2
    justify-content: space-around
    @include phone-landscape
    @include tablet
      margin: auto    
      padding: 33px 0px
      margin-bottom: 33px
      background: none
    @include desktop
      align-self: center
      width: 100%
      flex-flow: column
      margin: 0
      overflow: hidden
      flex-wrap: wrap
      margin-top: 0px
      margin-bottom: 50px
      border: none
      background-color: rgba(247, 239, 214, 0)
      margin-bottom: 0

  iframe
    @include desktop
      width: 600px
      height: 270px

  .talentpage
    @include desktop
      margin-top: 0px
      padding: 0px

  .iframe
    @include tablet
      width: 83%
      height: 100%
    @include desktop
      margin: auto

  .hold_in2, .hold_in2_gd
    // display: flex
    @include phone-landscape
    @include tablet

    @include desktop
      display: flex
      flex-direction: column
      width: 100%

  #read-on
    justify-content: flex-start !important
    position: relative
    margin: 0
    padding: 0
    font-weight: lighter
    text-align: left          
    width: 100%
    font-size: 0.96em
    letter-spacing: 0.048em
    font-family: $font-stack-rajdhani
    color: #341e25

    .showRead
      display: flex
      margin: 0
      color: #9d8b70
      font-style: italic
      width: 128px
      margin: 0
      justify-content: space-between                 
      @include phone-landscape
      @include tablet  
        justify-content: center

    .open-caption, .gdReadmore, .tReadmore
      font-family: $font-stack-antic
      display: flex
      justify-content: space-between
      margin-bottom: 28px
      margin-top: 12px
      color: #607D8B
      width: 116px
      font-size: 1.15em
      border-bottom: 1px dotted
      letter-spacing: 0.05em    

  #skills-descOpen, #gd-descOpen, #t-descOpen
    display: flex
    margin-top: -10px
    @include tablet 
      display: none
                           
  #skills-descClose, #gd-descClose, #t-descClose
    display: none
    margin-top: -13px     
    background-color: rgba(202, 218, 215, 0.22)
    @include phone-landscape
    @include tablet
      margin-top: 30px
      align-self: center

  .close-caption, .gdClose, .dmClose, .tClose
    color: #607D8B
    display: flex
    width: 100%
    font-size: 1.1em  
    line-height: 1.24em
    text-align: center   
    justify-content: center
    margin-bottom: 20px   
    padding-top: 10px
    font-style: oblique   
    border-bottom: 1px solid #fffefe
    font-family: Rokkitt, serif
    @include tablet
      margin: 0   
      color: #0f1714
      font-size: 1.1em
    @include desktop
      color: #222222
      font-size: 0.81em
      margin: 0 auto
      padding: 0px
      font-family: Rokkitt, serfi
      font-style: oblique
      background: none
      border: none
      width: auto

  .close-caption
    color: #43d1d6
    font-size: 1em
    margin: 5px
             
  .small-intro    
    padding-top: 10px                                 
    display: flex
    flex-flow: column
    justify-content: flex-start   
    align-items: center 
    width: 100%
    @include phone-landscape
      flex-wrap: wrap
      justify-content: space-around

    @include tablet
      width: 89%
      margin: 14.922px
    @include desktop
      display: flex
      justify-content: center
      margin: 0   
      width: 100%
      padding-top: 0
      flex-flow: row 
      flex-wrap: wrap
      background-color: #673a6d
    
    .major-title     
      font-size: 1.5em
      display: flex
      color: #43d1d6
      font-weight: bold   
      line-height: 1.5em
      align-self: flex-start
      padding: 7px
      margin-bottom: -18px
      margin-top: 0
      width: 50%                    
      padding-left: 0px
      font-family: $font-stack-character
      @include phone-landscape
      @include tablet
        font-size: 1.35em
      @include desktop 
        padding: 0  
        width: 44%                                                    
        margin-top: -9px 
        margin-bottom: 10px  
        line-height: 1.05em 
        font-weight: bold
        text-transform: uppercase  
        font-size: 1.45em   
                                                  
  .blocks, .one
    display: flex
    height: 100%  
    width: 100%
    flex-wrap: wrap
    justify-content: center  
    @include tablet
    @include desktop
      width: 100%
      flex-wrap: wrap
      align-items: center
      justify-content: space-around
      background-color: rgba(103, 58, 109, 0.86)
     
    section, .one                                       
      display: flex
      justify-content: center
      width: 100%
      height: auto
      margin-bottom: 10px
      padding-top: 10px      
      margin: auto
      background-color: #fdfdf4
      @include desktop   
        width: 68%
        border-bottom: none
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
        height: 100%
        margin: 20px
        box-shadow: 1px 6px 1px 8px #670973
          
      div   
        display: flex  
        flex-direction: column
        background: none
        height: auto
        width: 100%
        margin: auto
        border-bottom: none
        display: none
        @include desktop
          margin: 0
          width: 100%
          background: none
          background-image: none
          border: none

      #website_background2
        display: flex
        flex-direction: column
        height: auto
        width: auto
        margin: auto
        margin-top: 20px
        padding: 0
        margin: 0
        @include tablet
          margin-top: 30px
        @include desktop 
          margin-top: 0    
          background-image: none
          flex-flow: column-reverse
          align-items: center
          width: 100%
        img
          width: 92%                          
          height: auto
          margin: auto
          @include phone-landscape
            width: 74%   
          @include tablet
            width: 83%
          @include desktop v    
            width: 92%
            padding-bottom: 10px
        h4
          color: #29343b

      h4
        align-self: center
        font-size: 1.34em
        letter-spacing: 0
      a
        display: flex
        width: 100%
        height: auto
        justify-content: center
        @include desktop
          width: 60vw
          align-self: center

      img
        width: 94%
        height: auto
        border-radius: 2px
        align-self: center
        @include desktop
          width: 88%
      p  
        font-size: 1em
        line-height: 1.2em
        text-align: justify
        color: #607D8B 
        letter-spacing: 0
        padding: 20px 
        padding-bottom: 6px   
        font-weight: 900
        margin: 0
        text-transform: capitalize
        font-family: $font-stack-Raleway-bold
        @include phone-landscape
        @include tablet               
          padding: 10px 30px  
          font-size: 1.42em
          margin: 26px
          margin-bottom: 0
        @include desktop
          letter-spacing: 0em
          line-height: 1.14em
          font-size: 1.3em
          width: 88% 
          padding: 11px 
          padding-bottom: 0  
          display: flex
          align-self: center
          justify-content: center
          margin-bottom: 10px

      button
        width: 41%
        height: auto
        margin: auto
        justify-content: center
        padding: 1px
        border-radius: 6px
        display: flex
        margin-bottom: 42px
        margin-top: 10px
        //mediaQuerie
        @include phone-landscape
        //mediaQuerie
        @include tablet
          width: 33%
          margin-bottom: 30px
        @include desktop
          display: flex
          align-self: flex-start
          border: none
          background: none
          height: auto

        a
          font-family: $font-stack-roboto
          color: #ffffff
          text-align: justify
          font-size: 1em
          letter-spacing: 0.05em
          justify-content: center
          width: 100%
          height: 100%
          line-height: 2.15em
          @include tablet
            padding: 0px
            font-size: 1.85em
          @include desktop     
            letter-spacing: 0       
            font-size: 1.6em
            height: 60px
            font-weight: 400
            line-height: 3em
  .date
    text-transform: uppercase
    font-size: 7.5pt
    font-weight: normal
    color: #00BCD4
    @include desktop 
      font-size: 1em

  .box-spec                    
    width: auto                                  
    font-family: $font-stack-Raleway-bold
    font-weight: 600
    font-size: 9pt
    width: 88%
    text-transform: uppercase
    color: #696461
    display: flex
    text-align: justify
    align-self: center   
    padding-top: 10px    
    line-height: 13pt
    max-height: 85%  
    @include tablet  
      font-size: 12pt
      width: 84%
    @include desktop 
      width: 100%
      justify-content: center
      font-size: 1.25em
      line-height: 1.4em
    p 
      display: none

  .blue_line
    margin-bottom: 0 
    color: #F44336
    border: 1px solid
    @include desktop

  .blue_line1 
    display: flex    
    align-self: flex-start                     
    width: 35%
    margin: -3px 0 -3px 20px
    padding: 0
    border: 1px solid #F44336
    color: #F44336
    @include tablet   
      width: 30%
      margin-left: 55px
    @include desktop
      border: none
  
  .gdesign
    @include tablet 
      height: 100vh   
       
  .readmore_text          
    width: auto       
    background-color: rgba(156, 140, 133, 0)
    border: 0
    height: auto
         
  .close_text      
    width: auto
    background-color: rgba(156, 140, 133, 0)
    border: 0
    height: auto
    display: none

  #hide_h2, #hide_h2_gd, #hide_h2_t
    display: none
    margin-top: -23px                              
    margin-bottom: 22px
    margin-left: 12px
    text-transform: none
    line-height: 1.4em
    font-size: 1.3em                                      
    color: #43d1d6
    font-weight: bold
    font-family: $font-stack-Raleway-bold
    @include phone-landscape
    @include tablet 
      padding-right: 8px
      margin-top: 11px
      margin-bottom: 10px
    @include desktop  
        padding-left: 0   
        width: 44%
        margin: 30px 0 0px 290px
        line-height: 1.5em
        font-weight: normal                                       
        letter-spacing: 0.04em
        font-style: normal
        font-size: 1.35em 
                         
  #project_title
    display: flex
    flex-wrap: wrap
    width: 100%  
    padding: 10px                               
    margin: 0px
    @include phone-landscape
    @include tablet
      flex-direction: column
      align-items: center
      margin-top: 1px
    @include desktop
      justify-content: flex-start
      flex-direction: row
      align-items: center
      width: 92%
      background: none
      margin: auto
      margin-top: 0px
      margin-bottom: 11px
      border: none
   
  .project_box                                 
    display: flex
    flex-wrap: wrap
    width: 100%     
    margin: auto
    margin-top: -10px
    border-radius: 4px
    @include tablet 
      flex-wrap: nowrap
      width: 91%
    @include desktop
      width: auto                            
      padding: 10px
      margin: 0
    p 
      width: 100%
      padding-bottom: 0
      margin-bottom: 0
      color: #44535a
      font-family: $font-stack-Raleway-bold
      @include desktop 
        margin: 0 
        font-size: 11pt         
  
    .toolName
      font-family: $font-stack-Raleway-bold
      color: #00BCD4
      font-weight: bold  
      font-size: 12pt
      letter-spacing: 0.05em
      @include desktop
        font-size: 2em
        letter-spacing: 0

  #quote
    font-size: 1em     
    font-family: $font-stack-antic
    color: green
    width: 100%
    display: flex  
    justify-content: center
    flex-flow: column
    @include desktop 
      font-size: 1.3em
      letter-spacing: 0.04em

  #unkown
    font-family: $font-stack-Raleway
    font-size: 8pt
    font-weight: lighter
    font-style: italic
    margin-top: 7px
    @include desktop
      margin-top: 10px
      font-size: 9pt   

  .outer-div
    display: flex
    flex-wrap: wrap
    padding: 6px
    justify-content: space-around
    background: none
    @include phone-landscape
    @include tablet
      display: flex
      padding: 20px
      height: 700px
      width: 69%
    @include desktop
      margin-bottom: 40px
      display: flex
      flex-flow: row
      width: 84%
      padding: 0 12px
      margin: 8% 0
      position: relative
      align-self: center           
    div
      background-color: #04C2C9
      margin: 6px 0
      width: 80%
      height: 64px   
      @include tablet                              
        height: 80px
      @include desktop 
        width: 240px 
        padding-left: 10px 
        height: 110px

  .box
    display: flex
    flex-direction: column
    justify-content: space-around
    position: relative
    width: 100%
    height: auto                
    align-self: center
    margin: 4px
    margin-top: 17px
    padding: 16px
    @include desktop
      padding: 10px

  .inner-div1, .inner-div2, .inner-div3, .inner-div4,
  .inner-div5, .inner-div11, .inner-div12
    height: 30%
    width: 100px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    text-decoration: none
    background-size: cover
    @include phone-landscape
    @include tablet
      background-repeat: no-repeat
      height: 36%
      margin-bottom: -10px

    @include desktop
      border: none
      height: auto
      width: 90%                  
      padding: 20px 0                 
      border: 1px solid lemonchiffon
      background-color: $blue1
      background-size: contain
      border-radius: 8px
      margin: 20px          
  // .inner-div1                     
  //   background-image: url("../dist/imgs/portfolio2.jpg")

  // .inner-div2
  //   background-image: url("../dist/imgs/weave.jpg")

  // .inner-div3
  //   background-image: url("../dist/imgs/mele_logo.jpg")

  // .inner-div4
  //   background-image: url("../dist/imgs/goddaughter.jpg")

  // .inner-div5
  //   background-image: url("../dist/imgs/Oilpainting.jpg")

  .inner-div11
    display: none
                                 
  .inner-div12                         
    padding: 0
    height: 52px
    width: 72%
    border: none
    margin: 0 auto
    @include tablet
      background-repeat: no-repeat
      height: 83px
      width: 62%
    @include desktop
      display: none
    
  #canvasbox
    display: flex
    flex-direction: column   
    justify-content: center
    width: 100%
    height: auto    
    @include tablet
      display: flex

  #box-canvas1
    width: 100vw
    height: auto
    display: block
    margin: 20px auto
    margin-bottom: 0
    display: flex
    justify-content: center

  #box-canvas
    margin-left: 20%
    width: 90vw
    height: auto
    display: block
    margin: 0
    display: flex   
    justify-content: center
    @include desktop
      height: auto
      width: auto
      display: flex
      justify-content: center
                                              
  #up-arrow
    display: flex
    z-index: 10
    width: 25%
    @include desktop
      display: flex

  .fa-arrow-down
    display: flex 
    align-center 
    color: white
    padding: 4px 
    font-size: 2.1em
    color: #FF5722

  .fa-angle-double-up
    display: flex 
    align-self: center
    position: absolute  
    background-color: #673a6d
    z-index: 5
    justify-content: center
    padding: 4px 16px
    font-size: 2em
    border-radius: 2px                 
    width: auto 
    height: auto  
    @include desktop 
      font-size: 2em
      padding: 10px 24px
      border-radius: 4px              
                       
  footer    
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    background-color: #060410
    align-items: center
    height: 80px

  .footnote 
    display: flex  
    justify-content: center
    width: 100%    
    font-size: 6pt
    line-height: 2em
    margin-top: 23px
    color: #cccccc    
    @include desktop
      display: flex     s
      justify-content: center  
      margin: 15px 0
      width: 100%       
      height: auto
      font-size: 8pt
      line-height: 2em
      color: #cccccc
      font-family: $font-stack-Raleway-bold     
  .highlight
    display: flex 
    color: pink                             
      



