

@include phone
	.folders-container2
		display: none
		@include tablet
			display: flex
			justify-content: space-around
			width: 74vw
			height: 90px
			margin: 0 auto
			padding: 0
			background-image: url('../dist/imgs/1920.png')
			background-repeat: no-repeat
			background-position: top
			background-size: cover
			@include desktop
				background-color: white


	#folders-container
		display: flex
		flex-wrap: wrap
		flex-direction: column
		justify-content: space-around
		width: auto
		height: 100vh
		margin: 0 auto
		padding: 0
		border-radius: 21px
		// background-color: #988561
		@include tablet
			display: none

		.nav-folders
			display: flex
			flex-direction: column
			justify-content: space-between
			height: auto
			// width: 33vw
			margin: 0 auto
			padding: 0
			display: none
			position: relative

	#home-logo
		display: flex
		flex-direction: column
		align-content: space-between
		height: 36vh
		width: 100vw
		margin: 0 auto
		padding: 0
		.imgslider
			height: 33vh
			width: 80vw
			position: absolute
			align-self: center

	.hamburger-menu
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 38px
		font-size: 1em
		line-height: 43px
		margin: 1.5px auto
		cursor: pointer
		text-align: center
		font-family: $font-stack-audio
		text-decoration: none
		background-color: rgba(63, 62, 78, 0.21)
		color: #ae8950
		position: relative
		border-bottom: 0.85px solid
		border-radius: 1px
		&:active
			background-color: rgba(224, 228, 228, 0.76)
		@include tablet
			background: url('../dist/imgs/archive-icons.png')
			background-position: bottom
			overflow: hidden
			margin: 0 auto
			cursor: pointer
			background-repeat: no-repeat
			line-height: 114px

	@include phone
		.hetpage
			display: flex
			flex-direction: column
			justify-content: flex-end
			overflow: hidden
			width: 100vw
			height: 100vh
			margin: 0 auto
			background: url('../dist/imgs/nlsmall5.png') top no-repeat
			background-size: cover
			@include tablet
				justify-content: center
				flex-grow: 1
				height: 100vh
				background-image: url('../dist/imgs/1920.png')
				background-size: contain
				background-position: top
				background-repeat: no-repeat
				@include desktop
					display: flex
					background-color: green
			.haus
				align-self: flex-start
				width: 11vw
				height: 31px
				margin-left: 12px
				margin-bottom: 24px
				border-radius: 0.3px
				border-bottom: 0.9px solid #ae8950
				text-align: center
				z-index: 9999
				.main-menu
					width: 100vw
					height: 100vh
					text-decoration: none
					font-size: 1.66em
					font-family: $font-stack-paragraph
					letter-spacing: 0.03em
					color: #ae8950
					line-height: 34px
					cursor: pointer

		.mobile-container
			display: flex
			width: 100vw
			height: 46vh
			justify-content: space-between
			// background-image: url('../dist/imgs/hero.png')
			background-color: rgba(5,4,30, 0.9)
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			z-index: 999999
			border: 1px solid gray
			position: absolute
			display: none
			.nav-archives
				width: 33vw
			#menu-buttons
				display: flex
				height: 43vh
				width: 90px
				position: absolute


		.parent-hetpage
			display: flex
			flex-direction: column
			justify-content: space-around
			width: auto
			height: 84vh
			position: absolute

			@include tablet
				height: 63vh
				width: 100vw
				margin: 0 auto
				padding: 0
			.bio
				display: flex
				justify-content: center
				width: auto
				height: 20vh
				.intro
					font-family: $font-stack-thin
					font-size: $font-size-Mparagraphs +0.3
					color: #1f2121
					width: 84vw
					height: auto
					margin: 0 auto
					@include tablet
						color: #b47809
						padding-top: 0
						margin-top: 0
						font-family: $font-stack-old-style
						font-size: $font-size-Mh2 +0.3
						font-weight: bolder
						text-transform: uppercase
						letter-spacing: 0.04em

			.hetpage-li
				display: flex
				justify-content: center


				#hetinfo
					color: black
			    margin: 0 auto
			    font-family: $font-stack-thin
			    font-size: $font-size-Mh2 +3
			    text-transform: capitalize
			    font-weight: 600
			    letter-spacing: 0.6px

					#mini-desc
					 font-family: $font-stack-paragraph
					 font-size: .9em
					 line-height: 7px
					 text-align: justify
					a
						text-decoration: none
						color: #907449
						cursor: pointer

			 #thin
		    font-size: 2.3em
		    font-family: $font-stack-thin
		    letter-spacing: 0.03em
		    font-weight: bolder
		    color: #000000
		    margin: 0 auto
		    // text-shadow: rgba(230, 226, 217, 0.95) 0 6px 1px#2d6c86

			   #bulgeword
			     font-family: $font-stack-thin
			     color: #988561
			     font-size: 0.73em
			     font-style: normal
			     font-weight: 600
					 letter-spacing: 0.02em
					 @include tablet
						 color: black


		.hetpage-li

		  #landing-title
		    margin: 10.7px 0 -33.5px 0px
		    color: #b98c38
		    font-family: $font-stack-audio
		    font-size: 2.88em
				letter-spacing: normal
				@include tablet
					margin: 0 auto
					padding: 0

			    // display: none

	 .landing-page
		 display: flex
		 justify-content: flex-start
		 flex-direction: column
		 @include tablet
			justify-content: space-around
			height: 10vh

		.mobile-menu
			display: flex
			flex-direction: column
			justify-content: center
			width: 61px
			height: 22px
			border: 0.5px solid #ae8950
			border-radius: 1px
			position: absolute
			z-index: 99999
		.exit-menu
			display: flex
			flex-direction: column
			justify-content: center
			width: 61px
			height: 22px
			border: 0.5px solid #ae8950
			border-radius: 1px
			position: absolute
			align-self: flex-end
			z-index: 99999
		.menu
			width: auto
			height: auto
			text-decoration: none
			text-align: center
			font-family: $font-stack-paragraph
			letter-spacing: 0.06em
			color: #ae8950
			line-height: 21px
			&:hover
				// background-color: gray
				// color: red
			&:visited
				// background-color: red
		#nav
		  height: 45vh
		  display: flex
		  justify-content: center
		  flex-direction: column

	 .logo-home
			display: flex
			flex-direction: column
			justify-content: space-between
			width: auto
			height: 100vh
			background: url('../dist/imgs/newlogo.png') no-repeat
			background-size: contain
			overflow: hidden
			cursor: pointer
			text-align: center
			font-family: $font-stack-audio
			text-decoration: none
			color: #907449
			font-size: 0.79em
			z-index: 99999


	.navbar
	  display: flex

	#navtabs
	  display: flex
	  flex-wrap: wrap
	  background-image: url('../dist/imgs/hero.png')
	  background-size: cover
	  background-repeat: no-repeat
	  padding: 5px
	  width: auto
	  border-radius: 3px
	  margin: 0

	  #home
	    display: flex
	    height: auto
	    // background-color: #c16408
	    width: 120px
	    flex-grow: 1

	    a
	      margin: 0 auto
	      height: 75%


	      #home-nav
	        color: white
	        font-size: 0.93em
	        letter-spacing: 0.03em
	        font-family: $font-stack-audio
	        margin: 0 8px 0 28px
	        text-align: center


	  li
	    display: flex
	    background-color: hsla(16, 96%, 9%, 0.92)
	    border-radius: 1.5px
	    opacity: 1
	    flex-grow: 1
	    flex-wrap: wrap

	    a
	      flex-grow: 1
	      text-decoration: none
	      padding: 3.6px
	      margin: auto

	      //icon styles
	      background-size: 17px
	      background-repeat: no-repeat
	      background-position: 3px

	      &.brand
	        background-image: url(../dist/imgs/testicons.png)
	      &.grafix
	        background-image: url(../dist/imgs/testicons.png)
	      &.web
	        background-image: url(../dist/imgs/testicons.png)
	      &.snaps
	        background-image: url(../dist/imgs/testicons.png)
	      &.music
	        background-image: url(../dist/imgs/testicons.png)
	      &.film
	        background-image: url(../dist/imgs/testicons.png)
	      &.info
	        background-image: url(../dist/imgs/testicons.png)
	      &:hover
	        background-color: #f9970a
	        height: auto


	#navtexts
	  color: white
	  letter-spacing: 0.04em
	  font-family: $font-stack-old-style
	  margin-left: 22px

 #nav.sticky
	 position: fixed
	 display: flex
	 top: 0
	 left: 0
	 width: 100vw
	 height: 92px
	 line-height: 110px
	 z-index: 9999
	 background-color: rgba(5, 4, 30, 0.9)


 #folders-container.reduced
		display: flex
		flex-direction: row
		flex-wrap: wrap
		// border: 1px solid gray
    height: 24px
    width: 62vw
    padding: 31px 0 24px 0
    background-color: rgba(5, 4, 30, 0.9)
	li
		display: flex

	.parent-hetpage.shifted
	 margin-top: 0px
	 #navtabs
		 li
		 border: 2px solid #b98c38
		 a
			 width: 63px
			 font-size: 0.96em
