

@include phone
	.hetpage
		display: flex
		flex-direction: column
		justify-content: flex-start
		overflow: hidden
		max-width: 480px
		height: 100vh
		background: url('../dist/imgs/1920.png') top no-repeat
		background-size: contain
		@include tablet
			background-size: contain
			max-width: 1366px
			flex-grow: 1
			height: 100vh
			@include desktop
				display: flex
				background-color: green

	.Colsplit-between
		display: flex
		flex-direction: column
		justify-content: flex-start
		width: 100%
		height: 70%
		position: relative
		@include tablet
			width: 100vw
			margin: auto
			padding: 0

	#Colsplit-box1
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		position: relative
		@include tablet

		.landing-page
			display: flex
			flex-direction: column
			justify-content: space-around
			width: 80%
			height: 29%
			align-self: center
			@include tablet
				height: 24%
				margin-bottom: 140px

			.hetpage-li
				display: flex
				justify-content: center
				margin: auto

				#thin
					margin: auto
					@include tablet
						margin: 0

					#bulgeword
						font-family: $font-stack-thin
						font-size: 0.79em
						color: #129c00
						font-style: normal
						@include tablet
							color: #129c00
							font-family: $font-stack-thin
							font-size: 1.55em
							font-weight: 600

				#hetinfo
					margin: auto
					border-bottom: 1px dotted orange
					text-align: center
					height: 27px
					line-height: 27px
					@include tablet
						height: 42px
						line-height: 0px
						width: 100%

					#mini-desc
						font-size: 0.72em
						letter-spacing: 0.05em
						color: #1c1014
						font-family: sans-serif
						font-weight: lighter
						cursor: pointer
						@include tablet
							line-height: 43px
							font-size: 1.1em
							color: #1b0e13
		.bio
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			height: 70px
			@include tablet
				display: flex
				justify-content: space-between
				flex-direction: column
				position: relative
				height: 25%

			.intro
				font-family: $font-stack-thin
				font-size: 1.4em
				color: #2b0d18
				text-align: justify
				margin: auto
				margin-top: 119px
				position: absolute
				// text-shadow: 4px 4px 4px #d0d0d0
				@include tablet
					color: #251202
					font-family: $font-stack-thin
					font-size: 2.11em
					font-weight: 900
					height: 60px
					letter-spacing: 0.02em
					margin-top: 33px
					text-shadow: none
					position: relative

			#my-name
				color: #5e450d
				font-family: $font-stack-audio
				font-size: 1.5em
				text-transform: capitalize
				font-weight: lighter
				margin: auto
				height: 42%
				padding-top: 61px
				@include tablet
					padding: 0
					font-size: 2.77em
					font-family: $font-stack-audio
					position: relative

	#coa-menu
		align-self: flex-start
		margin-left: 30px
		display: none

	.folders-container2
		display: none
		@include tablet
			display: flex
			justify-content: space-around
			width: 74vw
			height: 90px
			margin: 0 auto
			padding: 0
			background-image: url('../dist/imgs/1920.png')
			background-repeat: no-repeat
			background-position: top
			background-size: cover
			@include desktop
				background-color: white

	#folders-container
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		background-image: url('../dist/imgs/1920.png')
		background-repeat: no-repeat
		background-position: top
		background-size: cover
		width: 96%
		margin: auto
		padding: 0
		border: 1.2px solid #ffe224
		@include tablet
			display: flex
			justify-content: space-between
			background-color: #fffef2
			background-image: none
			height: auto
			width: 81%
			flex-flow: row

		.nav-folders
			height: auto
			padding: 3px
			display: none
			width: 100%
			border-bottom: 1px solid #efdeca
			@include tablet
				display: flex
				justify-content: space-between
				width: 100%
				height: auto

	#home-logo
		display: flex
		flex-direction: column
		height: 70%
		@include tablet
			height: 54%
			margin-top: 0px

		.imgslider
			width: 80%
			position: relative
	 .logo-home
			height: 100%
			background: url('../dist/imgs/nlsmall1.png') no-repeat
			background-size: contain
			background-position: center
			overflow: hidden
			z-index: 9999
			display: flex
			margin-top: 102px
			@include tablet
				background-size: contain
				margin-top: 24px
				z-index: 999

	.hamburger-menu
		display: flex
		flex-direction: column
		justify-content: space-between
		line-height: 45px
		width: 96%
		cursor: pointer
		text-align: center
		font-family: sans-serif
		font-size: 1em
		font-weight: normal
		text-decoration: none
		text-transform: lowercase
		border-right: 2.8px solid rgba(255, 31, 62, 0.97)
		padding-right: 16px
		color: #230404
		&:active
			color: rgba(255, 31, 62, 0.97)
		&:focus
			align-items: flex-start
			background-color: #fffef2
			border-left: 2px solid #438506
			border-right: 6px solid #438506
			border-radius: 10px 0 0 10px
			padding-left: 20px
			font-weight: 600
			font-size: 1.1em
			text-transform: uppercase
			letter-spacing: 0.04em
			color: #29343a
			background-color: #ffe224
		@include tablet
			width: 100%
			font-size: 1.3em
			margin: auto
			padding: 0
			border: none
			cursor: pointer
			font-weight: lighter
			background-color: #fffef2
			border-right: 1px solid #dedccd
			&:focus
				margin: 0
				padding: 0
				color: green
				background-color: #fffef2
				text-transform: lowercase
				border-right: 2px solid #ff1f3e
				border-left: none

		.nav-archives
			font-family: sans-serif
			text-align: right
			@include tablet
				text-align: center

	.haus
		display: flex
		background-color: #29343a
		border-bottom: 5px solid #129c00
		z-index: 999999
		width: 100%
		position: fixed


		@include tablet
			top: 0
			left: 0
			height: 60px
			display: none
		ul
			display: flex
			justify-content: space-between
			position: relative
			width: 60%
			height: auto
			margin: 0
			padding: 0

			li
				justify-content: center
				position: relative
				height: 100%
				cursor: pointer

				.haus-menu
					display: flex
					font-family: $font-stack-audio
					color: #d1ae32
					font-size: 2.1em
					font-weight: bolder
					line-height: 39px
					padding-left: 28px
					width: 83px

				.main-menu
					display: flex
					justify-content: center
					height: auto
					text-decoration: none
					font-size: 1.8em
					font-family: $font-stack-paragraph
					letter-spacing: 0.03em
					color: #ff1f3e
					cursor: pointer
					width: 67px
					bottom: 0px
					left: 0px
					z-index: 99999
					background-color: #131426

	.mobile-container
		display: flex
		width: 82%
		height: auto
		justify-content: space-between
		background-color: #fffef2
		z-index: 999999
		position: fixed
		border: 1px solid #438506
		border-radius: 0 0px 15px 15px
		display: none
		@include tablet
			display: flex
			width: 100%
			justify-content: space-around
			align-items: flex-start
			background-image: none
			z-index: 9999
			position: fixed
			border: none
			top: 0
			left: 0

		#menu-buttons
				display: flex
				width: 100%
				justify-content: flex-start
				@include tablet
					display: none

		.mobile-menu
			display: flex
			flex-direction: column
			justify-content: center
			width: 61px
			height: 22px
			border: 0.5px solid #ae8950
			border-radius: 1px
			position: absolute
			z-index: 99999

		.exit-menu
			display: flex
			justify-content: center
			border-radius: 0 0 15px 15px
			text-align: center
			border: 2px solid #e8e8e8
			width: 100%
			cursor: pointer
			line-height: 37px
			@include tablet
				display: none

			.menu
				color: #129c00
				font-family: $font-stack-Dancing-script
				font-size: 1.4em
				text-decoration: none
				letter-spacing: 0.08em
				font-weight: bold


		#nav

			@include tablet
				width: 100%

	.navbar
	  display: flex

	#navtabs
	  display: flex
	  flex-wrap: wrap
	  background-image: url('../dist/imgs/hero.png')
	  background-size: cover
	  background-repeat: no-repeat
	  padding: 5px
	  width: auto
	  border-radius: 3px
	  margin: 0

	  #home
	    display: flex
	    height: auto
	    // background-color: #c16408
	    width: 120px
	    flex-grow: 1
	    a
	      margin: 0 auto
	      height: 75%

	      #home-nav
	        color: white
	        font-size: 0.93em
	        letter-spacing: 0.03em
	        font-family: $font-stack-audio
	        margin: 0 8px 0 28px
	        text-align: center
	  li
	    display: flex
	    background-color: hsla(16, 96%, 9%, 0.92)
	    border-radius: 1.5px
	    opacity: 1
	    flex-grow: 1
	    flex-wrap: wrap

	    a
	      flex-grow: 1
	      text-decoration: none
	      padding: 3.6px
	      margin: auto

	      //icon styles
	      background-size: 17px
	      background-repeat: no-repeat
	      background-position: 3px

	      &.brand
	        background-image: url(../dist/imgs/testicons.png)
	      &.grafix
	        background-image: url(../dist/imgs/testicons.png)
	      &.web
	        background-image: url(../dist/imgs/testicons.png)
	      &.snaps
	        background-image: url(../dist/imgs/testicons.png)
	      &.music
	        background-image: url(../dist/imgs/testicons.png)
	      &.film
	        background-image: url(../dist/imgs/testicons.png)
	      &.info
	        background-image: url(../dist/imgs/testicons.png)
	      &:hover
	        background-color: #f9970a
	        height: auto


	#navtexts
	  color: white
	  letter-spacing: 0.04em
	  font-family: $font-stack-old-style
	  margin-left: 22px

 .mobile-container.sticky
	 position: fixed
	 display: flex
	 top: 0
	 left: 0
	 width: 68vw
	 height: auto
	 line-height: 110px
	 z-index: 9999
	 @include tablet
		 width: 100%
		 height: 59px
		 border: none
		 background-color: #fffef2


 .reduced
		display: flex
		flex-wrap: wrap
		justify-content: center
    // height: 22px
    // width: 100vw
    // padding: 31px 0 24px 0
    // background-color: rgba(5, 4, 30, 0.9)
		margin: 0
	li
		display: flex
		// background-color: green
		// width: 100%


	.shifted
	 margin-top: 0px
	 #navtabs
		 li
		//  border: 2px solid #b98c38
		 a
			 width: 63px
			 font-size: 0.96em

















			//  making buttons

// http://css3buttongenerator.com/

	.btn
	  background: #c334d9
	  background-image: -webkit-linear-gradient(top, #c334d9, #b82b87)
	  background-image: -moz-linear-gradient(top, #c334d9, #b82b87)
	  background-image: -ms-linear-gradient(top, #c334d9, #b82b87)
	  background-image: -o-linear-gradient(top, #c334d9, #b82b87)
	  background-image: linear-gradient(to bottom, #c334d9, #b82b87)
	  -webkit-border-radius: 28
	  -moz-border-radius: 28
	  border-radius: 28px
	  text-shadow: 1px 1px 3px #b84cb8
	  font-family: Arial
	  color: #ffffff
	  font-size: 20px
	  padding: 10px 20px 10px 20px
	  text-decoration: none


	.btn:hover
	  background: #3cb0fd
	  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db)
	  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db)
	  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db)
	  background-image: -o-linear-gradient(top, #3cb0fd, #3498db)
	  background-image: linear-gradient(to bottom, #3cb0fd, #3498db)
	  text-decoration: none
