
/* mobile view */

@include phone

  /* Styling for Graphic page only*/
  .graphic-title
    background-color: #eec660
    // color: black
  .graphic-subtitle
    color: #463b20

  button.graphic.active, button.graphic:hover
    color: #65635e
    background-color: rgba(229, 172, 97, 0.11)

  /* Styling for music page only*/
  .music-title
    background-color: #ee6060c2
    color: #65635e
  .music-subtitle
    color: #463b20

  button.music.active, button.music:hover
    color: #65635e
    background-color: #ee6060c2

  /* Styling for webdev page only*/
  .webdev-title
    background-color: #fffcf4
    color: #65635e
    border-bottom: 1px solid lightgray
    border-top: 1px solid #d0b98e
    @include phone-landscape
      background-color: #fffcf4
      z-index: 1

    @include tablet
      border-top: 1px solid #cac1b4
    @include desktop
      display: flex
      align-self: flex-start
      background-color: #fffcf4
      border-top: 0px
      justify-content: flex-start
      padding-left: 38px

  .contactx
    background-color: rgb(255, 244, 230)
    @include desktop
      background-color: #faf6e6

  button.webdev.active, button.webdev:hover
    color: white
    background-color: #5dadc2
    font-size: 1.25em
    font-family: $font-stack-rajdhani

    /* Styling for Film page only*/
  .film-title
    background-color: rgba(229, 172, 97, 0.11)
    color: #65635e
  .film-subtitle
    color: #463b20

  button.film.active, button.film:hover
    color: #65635e
    background-color: rgba(229, 172, 97, 0.11)

    /* Styling for Painting page only*/
  .painting-title
    background-color: rgba(140, 73, 178, 0.78)
    color: #65635e
  .painting-subtitle
    color: #463b20


  // button.painting.active, button.painting:hover
  //   color: white
  //   background-color: rgba(140, 73, 178, 0.78)
