
/* mobile view */

@include phone

  /* Styling for webdev page only*/
  .webdev-title
    color: #65635e
    background-size: contain
    background-position: center
    background-repeat: repeat
    background-color: #d1c9a7
    border-top: 1px solid #d0b98e
    background: url('../dist/imgs/pattern.jpg')
    @include phone-landscape
      background-color: #fffcf4
      z-index: 1
    @include tablet
      border-top: 1px solid #cac1b4
      font-size: 1.7em
      line-height: 72px
    @include desktop
      height: 51px
      display: flex
      width: 100%

      flex-flow: row
      border-top: 0px
      padding-left: 46px
      align-self: flex-start
      flex-wrap: wrap-reverse
      padding: 16px 20px 0px 5px
      background-color: #d1c9a7
      border-bottom: 1px solid #d8c6a6
      border-right: 1px solid #d8c6a6
      justify-content: space-around
      border-radius: 4px
      padding: 0

  .webdev-subtitle
    display: flex
    @include desktop
      width: 100vw
      margin: 0
      position: relative

  #push-up
    padding: 2px
    color: #352f1a
    line-height: 37px
    padding-top: 12px
    font-weight: bold
    font-size: 1.02em
    padding: 4px 13px
    letter-spacing: 0.08em
    border: 1px solid #ffd84e
    background-color: #ffebcdcc
    font-family: $font-stack-roboto
    @include tablet
      font-size: 1.16em
    @include desktop
      color: #1a160d
      line-height: 0
      font-size: 1.45em
      padding-top: 25px

  button.webdev.active, button.webdev:hover
    color: white
    background-color: #5dadc2
    font-size: 1.25em
    font-family: $font-stack-rajdhani


  button.film.active, button.film:hover
    color: #65635e
    background-color: rgba(229, 172, 97, 0.11)
