
/* mobile view */

@include phone

  /* Styling for Graphic page only*/
  .graphic-title
    background-color: #eec660
    // color: black
  .graphic-subtitle
    color: #3c2f09
    color: white


  button.graphic.active, button.graphic:hover
    color: white
    background-color: #f1c044e3

  /* Styling for music page only*/
  .music-title
    background-color: #ee6060c2
    color: black
  .music-subtitle
    color: white

  button.music.active, button.music:hover
    color: white
    background-color: #ee6060c2

  /* Styling for webdev page only*/
  .webdev-title
    background-color: #4a5f67
    color: black
  .webdev-subtitle
    color: white

  button.webdev.active, button.webdev:hover
    color: white
    background-color: #5dadc2
    font-size: 1.25em
    font-family: $font-stack-rajdhani

    /* Styling for Film page only*/
  .film-title
    background-color: #80c272
    color: black
  .film-subtitle
    color: white

  button.film.active, button.film:hover
    color: white
    background-color: rgba(98, 184, 80, 0.87)

    /* Styling for Painting page only*/
  .painting-title
    background-color: rgba(140, 73, 178, 0.78)
    color: black
  .painting-subtitle
    color: white

  button.painting.active, button.painting:hover
    color: white
    background-color: rgba(140, 73, 178, 0.78)
