//VARIABLESS

$font-stack-serif: Georgia, Times, serif
$font-stack-sans-serif: Helvetica, Arial, sans-serif

// BASE STYLE

h1
  font-family: $font-stack-antic
  text-align: justify
  color: #26061e
  text-transform: uppercase
  font-weight: bold
  color: #060407

h2, h3
  font-family: $font-stack-antic
  text-align: center
  font-weight: normal
  color: #111111

h4, h6
  width: 100%
  display: flex
  justify-content: center
  font-family: $font-stack-roboto
  font-size: 1em
  line-height: 1.5em
  color: #060407
  font-weight: normal
  @include desktop
    color: #adaeaf
    letter-spacing: 0.03em
